<h1>Invoices (with alternative Tabs Implementation)</h1>

<flight-tabbed-pane-alt>
    <flight-tab-alt title="Open">

        <table class="table">
            <tr *ngFor="let invoice of invoicesOpen">
                <td>{{invoice.invoiceId}}</td>
                <td>{{invoice.from}}</td>
                <td>{{invoice.to}}</td>
                <td>{{invoice.date | date:'dd.MM.yyyy'}}</td>
                <td>€ {{invoice.price}}</td>
            </tr>
        </table>

    </flight-tab-alt>
    <flight-tab-alt title="Paid">

        <table class="table">
            <tr *ngFor="let invoice of invoicesPaid">
                <td>{{invoice.invoiceId}}</td>
                <td>{{invoice.from}}</td>
                <td>{{invoice.to}}</td>
                <td>{{invoice.date | date:'dd.MM.yyyy'}}</td>
                <td>€ {{invoice.price}}</td>
            </tr>
        </table>

    </flight-tab-alt>
</flight-tabbed-pane-alt>